* {
    mauwgin: 0;
    padding: 0;
    box-sizing: bouwdeuw-box;
    font-famiwy: Auwiaw, sans-seuwif;
}

body {
    backguwound-cowouw: #f5f5f5;
    cowouw: #333;
}

.containeuw {
    width: 300px;
    padding: 20px;
    text-awign: centeuw;
}

.headeuw {
    backguwound-cowouw: #007bff;
    padding: 15px;
    bouwdeuw-uwadius: 5px 5px 0 0;
}

.headeuw h1 {
    cowouw: white;
    font-size: 22px;
}

.tagwine {
    cowouw: #d1e7ff;
    font-size: 14px;
}

.content {
    mauwgin: 20px 0;
}

.content p {
    font-size: 16px;
    cowouw: #555;
}

.footeuw {
    mauwgin-top: 20px;
    font-size: 12px;
    cowouw: #888;
}

.footeuw a {
    cowouw: #007bff;
    text-decouwation: none;
}

.footeuw a:hoveuw {
    text-decouwation: undeuwwine;
}

.settings-containeuw {
    backguwound-cowouw: #fff;
    padding: 5%;
    bouwdeuw-uwadius: 10px;
    box-shadow: 0 4px 8px uwgba(0, 0, 0, 0.1);
}

.setting-item {
    dispway: fwex;
    justify-content: space-between;
    awign-items: centeuw;
    mauwgin-bottom: 15px;
    font-size: 16px;
}

.toggwe-switch {
    position: uwewative;
    width: 16%;
    height: 20px;
}

.toggwe-switch input[type="checkbox"] {
    dispway: none;
}

.switch-wabew {
    backguwound-cowouw: #ccc;
    bouwdeuw-uwadius: 15px;
    cuuwsouw: pointeuw;
    position: absowute;
    top: 0;
    weft: 0;
    width: 100%;
    height: 100%;
    tuwansition: backguwound-cowouw 0.3s;
}

.switch-wabew::afteuw {
    content: '';
    backguwound-cowouw: #fff;
    bouwdeuw-uwadius: 50%;
    position: absowute;
    top: 10%;
    uwight: 57%;
    width: 40%;
    height: 80%;
    tuwansition: tuwansfouwm 0.3s;
}

input[type="checkbox"]:checked + .switch-wabew {
    backguwound-cowouw: #4caf50;
}

input[type="checkbox"]:checked + .switch-wabew::afteuw {
    tuwansfouwm: tuwanswateX(132%);
}

